:root {
  font-family: "Neue Montreal", sans-serif;
  --menu-background: white;
  --light-font: white;
  --dark-font: rgb(44, 44, 44);
}

.homepage-bg {
  background-image: url("../images/HomePageBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

#logo {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

#logoSmall {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

#logoBackground {
  width: 100%;
  max-height: 400px;
}

#logoBackgroundSmall {
  width: 100%;
  max-height: 200px;
}

.alPastor-bg {
  background-image: url("../images/AlPastorBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.birria-bg {
  background-image: url("../images/BirriaBeefBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.carneAsada-bg {
  background-image: url("../images/CarneAsadaBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.cauliflower-bg {
  background-image: url("../images/CauliflowerTacosBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.chicken-bg {
  background-image: url("../images/ChipotleChickenBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.about-bg {
  background-image: url("../images/AboutPageBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.overlay-active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(238, 231, 231);
  width: 500px;
  max-width: 80%;
  background-image: url();
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlayModal {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlayModal.active {
  opacity: 1;
  pointer-events: all;
}
