:root {
  font-family: "Neue Montreal", sans-serif;
  --menu-background: white;
  --light-font: white;
  --dark-font: rgb(44, 44, 44);
}

.homepage-bg {
  background-image: url("../images/HomePageBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

#logo {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

#logoBackground {
  width: 100%;
  max-height: 400px;
}

.alPastor-bg {
  background-image: url("../images/AlPastorBackground.jpg");
}

.birria-bg {
  background-image: url("../images/BirriaBackground.jpg");
}

.carneAsada-bg {
  background-image: url("../images/CarneAsadaBackground.jpg");
}

.cauliflower-bg {
  background-image: url("../images/CauliflowerBackground.jpg");
}

.chicken-bg {
  background-image: url("../images/ChickenBackground.jpg");
}

.overlay-active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
}
