:root {
  --menu-background: white;
  --light-font: white;
  --dark-font: rgb(44, 44, 44);
}

.homepage-bg {
  background-image: url("/assets/images/HomePageBackground.jpg");
}

.alPastor-bg {
  background-image: url("/assets/images/AlPastorBackground.jpg");
}

.birria-bg {
  background-image: url("/assets/images/BirriaBackground.jpg");
}

.carneAsada-bg {
  background-image: url("/assets/images/CarneAsadaBackground.jpg");
}

.cauliflower-bg {
  background-image: url("/assets/images/CauliflowerBackground.jpg");
}

.chicken-bg {
  background-image: url("/assets/images/ChickenBackground.jpg");
}

.overlay-active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
}
